.btn {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 3rem;
    border-radius: 5rem;
    cursor: pointer;
    outline: none;
    

    &--green {
        background-color: var(--color-green);
        color: #fff;

        &:hover {
            background-color: darkolivegreen
        }
    }

    &--primary {
        background-color: var(--color-primary);
        color: #fff;

        &:hover {
            background-color: var(--color-primary-dark);
        }
    }

    &:disabled {
        background-color: var(--color-grey-light-3);
        color: var(--color-grey-light-4);
    }
}