.logo {
    background-color: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &--light {
        background-color: #fff;
    }

    &--light &__part {
        background-color: var(--color-primary);
    }
    
    &__part {

        background-color: #fff;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        line-height: 3;

        &-1 {
            margin-top: 3px;
        }

        &-2 {
            margin-bottom: 3px;
        }
    }
}