@import "../../styles/abstracts/mixins";

.os-content-sidebar {
    flex: 0 0 25%;

    @include respond(tab-land) { // width < 600?
        flex: 0 0 30%;
    }

    background-color: var(--color-grey-light-2);

    &__header {
        display: flex;
        justify-content: space-between;

        &--actions {
            
        }
    }
}