@import "../../styles/abstracts/mixins";

.os-auth-layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-signin {
    margin-top: 10rem;

    @include respond(phone) { // width < 600?
        padding: 1rem;
    }
}

.footer-signin {
    width: 100%;
    display: flex;
    padding: 2rem;
    font-size: 1.2rem;
    justify-content: center;

    @include respond(phone) { // width < 600?
        flex-direction: column;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    
    ul {
        list-style: none;
        a {
            text-decoration: none;
        }
    }

    &__links-list {
        list-style: none;
        a {
            text-decoration: none;
        }

    }

    &__list {
        display: flex;
        list-style: none;
        margin-right: 2rem;

        @include respond(phone) { // width < 600?
            justify-content: center;
        }

        &-item {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            a {
                text-decoration: none;    
            }
        }
    }
}

.header {
    width: 100%;
    margin-bottom: 3rem;

    &__brand {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            margin-left: 1rem;
            font-size: 2rem;
            font-weight: 900;
            color: var(--color-primary);
        }
    }
}

.legacy {
    display: flex;
    padding: 2rem;
    justify-content: space-between;

    font-size: 1.2rem;

    &__copyright {
        margin-right: 3rem;
        justify-self: center;
    }

    &__security-links {
        display: flex;
        list-style: none;
        li {
            &:not(:last-child) {
                margin-right: 2rem; 
            }

            a {
                text-decoration: none;
            }
        }
    }
}

.footer__legacy {
    display: flex;

    @include respond(phone) { // width < 600?
        justify-content: center;
    }

    &-version {
        margin-right: 2rem;
    }
}