.os-content-sidebar__item {
    padding: 2rem;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: var(--shadow-light);
    display: flex;
    margin-bottom: 1.5rem;
    cursor: pointer;

    &--image {
        width: 6rem;
        height: 6rem;
        background-color: var(--color-grey-dark-3);
        border-radius: 50%;
    }

    &--box {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
    }

    &--buttons {
        // padding: 1rem;
    }

    &--text {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--color-grey-dark-1)
    }
    
    &--sub-text {
        font-size: 1.5rem;
        font-weight: 100;
    }

    &--button {
        border: none;
        background-color: #fff;
        padding: .5rem;
        font-weight: 100;
        font-size: 1.3rem;
        color: var(--color-primary);
        cursor: pointer;
        outline: none;

        &:hover {
            background-color: var(--color-grey-light-2);
            border-radius: 7px;
        }
    }
}