.os-sidebar {
    flex: 0 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: var(--color-primary);
    &__logo {
        width: 4rem;
        margin: 2.5rem 0;
    }

    &__profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-top: auto;
        padding: 1rem;
        cursor: pointer;
        margin-bottom: .5rem;

        &--avatar {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }

        &--name{
            font-size: 1.1rem;
            font-weight: 600;
            color: currentColor;
        }
    }

    &__logout-btn {
        border: none;
        background-color: transparent;
        color: #fff;
        font-weight: 600;
        padding: 1rem;
        cursor: pointer;
    }
}