.heading-primary {
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        color: currentColor;

        @include respond(phone) { // width < 600?
            font-size: 3rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
    }
}

.heading-secondary {
    font-size: 3rem;
    color: currentColor;
    text-transform: capitalize;
}

.heading-4 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-grey-dark-1);
}

.paragraph {
    font-size: 1.5rem;
}